include README.md
include LICENSE
include SQLITE_LICENSE
include lsm.pyx
include overview.md
include pyproject.toml
include tests.py
recursive-include benchmarks *.py
recursive-include docs *
recursive-include src *

global-exclude *.pyc
global-exclude *.o
global-exclude *.so.0.1
